* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    background:hsl(212, 45%, 89%);
    font-family: 'Outfit';
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    background:hsl(0, 0%, 100%);
    border-radius: 15px;
    padding: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

#image{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

#title{
    color:hsl(218, 44%, 22%);
    font-weight:700;
    font-size:20px;
    margin-bottom: 15px;
}

#blabber{
    color:hsl(216, 15%, 48%);
    font-weight:400;
    font-size: 12px;
    margin-bottom:15px;
}
